<!DOCTYPE html>
<html>
    <% include  common/head %>
    <body>
        <div class="header">
            <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
                <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-clans" aria-expanded="false">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Accounts</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-clans">
                    <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/profile">Profile</a></li>
                    <li><a href="/login">Logout</a></li>
                    </ul>
                </div>
                </div>
            </nav>
        </div>
        <div class="container container-content">
            <div class="details">
                <h3><span class="fa fa-user"></span>User Details</h3>
                <p>Welcome <strong><%= user.local.email%></strong></p>
            </div>
        </div>
        <% include common/footer %>
    </body>
</html>