<footer class="footer">
    <div class="container">
        <p class="text-muted">Jochen Logghe</p>
    </div>
</footer>

<script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>