<head>
    <title>Clans</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bower_components/responsiveboilerplate/css/responsiveboilerplate.min.css">
    <link rel="stylesheet" href="/bower_components/purecss/src/base/css/base.css" >
    <link rel="stylesheet" href="/bower_components/purecss/src/buttons/css/buttons.css" >
    <link rel="stylesheet" href="/bower_components/purecss/src/buttons/css/buttons-core.css" >
    <link rel="stylesheet" href="/bower_components/purecss/src/forms/css/forms.css" >
    <link rel="stylesheet" href="/bower_components/purecss/src/grids/css/grids-core.css" >
    <link rel="stylesheet" href="/bower_components/purecss/src/menus/css/menus.css" >
    <link rel="stylesheet" href="/bower_components/purecss/src/menus/css/menus-core.css" >
    <link rel="stylesheet" href="/bower_components/purecss/src/tables/css/tables.css" >
    <link rel="stylesheet" href="/stylesheets/marketing.css" >
</head>