<head>
    <title>Clans</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/marketing.css">
    <style>
        .container-content{
            margin: 0 auto;
            padding-top:80px;
        }

        .alert{
            color#fff;
            padding:10px;
            background-color:#ff0000;
        }
    </style>
</head>